/etc/group
/etc/passwd
/usr/bin/\[
/usr/bin/\[\[
/usr/bin/add-shell
/usr/bin/addgroup
/usr/bin/adduser
/usr/bin/ash
/usr/bin/awk
/usr/bin/base64
/usr/bin/basename
/usr/bin/bunzip2
/usr/bin/busybox.exe
/usr/bin/bzcat
/usr/bin/bzip2
/usr/bin/cal
/usr/bin/cat
/usr/bin/catv
/usr/bin/chat
/usr/bin/chattr
/usr/bin/chgrp
/usr/bin/chmod
/usr/bin/chown
/usr/bin/chpasswd
/usr/bin/chpst
/usr/bin/chroot
/usr/bin/chrt
/usr/bin/cksum
/usr/bin/clear
/usr/bin/cmp
/usr/bin/comm
/usr/bin/cp
/usr/bin/cpio
/usr/bin/crond
/usr/bin/crontab
/usr/bin/cryptpw
/usr/bin/cut
/usr/bin/cygwin-console-helper.exe
/usr/bin/date
/usr/bin/dc
/usr/bin/dd
/usr/bin/delgroup
/usr/bin/deluser
/usr/bin/devmem
/usr/bin/df
/usr/bin/diff
/usr/bin/dirname
/usr/bin/dnsd
/usr/bin/dnsdomainname
/usr/bin/dos2unix
/usr/bin/du
/usr/bin/echo
/usr/bin/ed
/usr/bin/egrep
/usr/bin/env
/usr/bin/envdir
/usr/bin/envuidgid
/usr/bin/expand
/usr/bin/expr
/usr/bin/fakeidentd
/usr/bin/false
/usr/bin/fgrep
/usr/bin/find
/usr/bin/flock
/usr/bin/fold
/usr/bin/fsck.minix
/usr/bin/fsync
/usr/bin/ftpd
/usr/bin/ftpget
/usr/bin/ftpput
/usr/bin/fuser
/usr/bin/getopt
/usr/bin/grep
/usr/bin/groups
/usr/bin/gunzip
/usr/bin/gzip
/usr/bin/hd
/usr/bin/head
/usr/bin/hexdump
/usr/bin/hostid
/usr/bin/hostname
/usr/bin/httpd
/usr/bin/hush
/usr/bin/id
/usr/bin/inetd
/usr/bin/install
/usr/bin/iostat
/usr/bin/ipcalc
/usr/bin/ipcrm
/usr/bin/kill
/usr/bin/killall
/usr/bin/killall5
/usr/bin/less
/usr/bin/ln
/usr/bin/logger
/usr/bin/login
/usr/bin/logname
/usr/bin/logread
/usr/bin/lpd
/usr/bin/lpq
/usr/bin/lpr
/usr/bin/ls
/usr/bin/lsof
/usr/bin/lzcat
/usr/bin/lzma
/usr/bin/lzop
/usr/bin/lzopcat
/usr/bin/makemime
/usr/bin/man
/usr/bin/md5sum
/usr/bin/mesg
/usr/bin/mintty.exe
/usr/bin/mkdir
/usr/bin/mkfifo
/usr/bin/mkgroup.exe
/usr/bin/mknod
/usr/bin/mkpasswd.exe
/usr/bin/mkswap
/usr/bin/mktemp
/usr/bin/more
/usr/bin/mpstat
/usr/bin/msys-2.0.dll
/usr/bin/mt
/usr/bin/mv
/usr/bin/nc
/usr/bin/nice
/usr/bin/nmeter
/usr/bin/nohup
/usr/bin/od
/usr/bin/passwd
/usr/bin/patch
/usr/bin/pgrep
/usr/bin/pidof
/usr/bin/pipe_progress
/usr/bin/pkill
/usr/bin/popmaildir
/usr/bin/printenv
/usr/bin/printf
/usr/bin/ps
/usr/bin/pscan
/usr/bin/pstree
/usr/bin/pwd
/usr/bin/pwdx
/usr/bin/rdev
/usr/bin/readlink
/usr/bin/readprofile
/usr/bin/realpath
/usr/bin/reformime
/usr/bin/remove-shell
/usr/bin/renice
/usr/bin/reset
/usr/bin/resize
/usr/bin/rev
/usr/bin/rm
/usr/bin/rmdir
/usr/bin/rpm
/usr/bin/rpm2cpio
/usr/bin/run-parts
/usr/bin/runsv
/usr/bin/runsvdir
/usr/bin/script
/usr/bin/scriptreplay
/usr/bin/sed
/usr/bin/sendmail
/usr/bin/seq
/usr/bin/setsid
/usr/bin/setuidgid
/usr/bin/sh
/usr/bin/sha1sum
/usr/bin/sha256sum
/usr/bin/sha3sum
/usr/bin/sha512sum
/usr/bin/sleep
/usr/bin/smemcap
/usr/bin/softlimit
/usr/bin/sort
/usr/bin/split
/usr/bin/start-stop-daemon
/usr/bin/strings
/usr/bin/stty
/usr/bin/su
/usr/bin/sulogin
/usr/bin/sum
/usr/bin/sv
/usr/bin/svlogd
/usr/bin/sync
/usr/bin/sysctl
/usr/bin/syslogd
/usr/bin/tac
/usr/bin/tail
/usr/bin/tar
/usr/bin/tcpsvd
/usr/bin/tee
/usr/bin/telnet
/usr/bin/telnetd
/usr/bin/test
/usr/bin/tftp
/usr/bin/tftpd
/usr/bin/time
/usr/bin/timeout
/usr/bin/top
/usr/bin/touch
/usr/bin/tr
/usr/bin/true
/usr/bin/tty
/usr/bin/ttysize
/usr/bin/udpsvd
/usr/bin/uname
/usr/bin/unexpand
/usr/bin/uniq
/usr/bin/unix2dos
/usr/bin/unlzma
/usr/bin/unlzop
/usr/bin/unxz
/usr/bin/unzip
/usr/bin/usleep
/usr/bin/uudecode
/usr/bin/uuencode
/usr/bin/vi
/usr/bin/vlock
/usr/bin/volname
/usr/bin/watch
/usr/bin/wc
/usr/bin/wget
/usr/bin/which
/usr/bin/whoami
/usr/bin/whois
/usr/bin/xargs
/usr/bin/xz
/usr/bin/xzcat
/usr/bin/yes
/usr/bin/zcat
